@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400');



body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #111;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #0a0a0a;
	min-width: 1000px;
	max-width: 1400px;

}


#wrapper {
   position:absolute;
		width: 72%;
		height: 100%!important;
		top: 0px;
		left: 14%;
		background-color: #ededed!important;
	  	background-image: url("assets/img/gplay.png");
	  	background-repeat: repeat repeat;
	  	background-position: left top;

		margin: 0px auto;
		min-width: 1000px;
		max-width: 1600px;
		min-height: 1000px;
			z-index: 999;
}

header {
	position: relative;
	width: 100%;
	height: 40%;
	top: 6%;
	left: 0px;
	background-image: url("https://i.imgur.com/9CoVjjm.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: 999;
}




/*
#name {
	position: absolute;
	left: 30%;
	top: 10%;
	width: auto;
	color: #ededed;
	font-family: 'Montserrat', sans-serif;
	font-size: 50pt;
	font-weight: 100;
	padding: 0px 10px;
	text-align: center;

	text-transform: uppercase;
}

#tag {
	color: #ededed;
	font-family: 'Montserrat', sans-serif;
	font-size: 7pt;
	font-weight: 100;
	padding: 0px 100px;
	margin-top: -6px;
}

.quote {
	position: absolute;
	top: 104px;
	left: 20%;
	width: 565px;
	height: 140px;
	background-color: rgba(17,17,17,0.7);
}
*/

.main {
		position: relative;
		width: 100%;
		height: 100%;
		left: 0%;
		top: 6%;
		overflow-y: hidden;
		background-color: #ededed!important;
	  	background-image: url("assets/img/gplay.png");
	  	background-repeat: repeat repeat;
	  	background-position: left top;
			margin: 0;
			padding: 0px;
		z-index: 99;
	}

#home {
	position: relative;
	float: left;
	top: 0%;
	left: 0%;
	width: 65%;
	height: 70%;
	background-color: #0e0e0e;
	padding: 0px 5px;
	margin: 10px;
}

img.avi {
	display: block;
	width: 160px;
	background-color: #0e0e0e;
	padding: 5px;
	margin: 10px auto;
	text-align: center;
}

.left {
	position: relative;
	float: right;
	top: 0%;
	right: 0%;
	width: 30%;
	height: 90%;
	margin: 10px;
	background-color: #000;
	border: 1px solid #181715;
	border: 1px solid #fff;
	z-index: 999;
}


.marq {
	width: 90%;
	font-family: arial;
	font-size: 7px;
	font-weight: normal;
	padding: 15px 0px 13px;
	margin: 10px auto;
	color: #000;
	background-color: #ededed;
	border-bottom: 1px solid #bebebe;
	border-right: 1px solid #3a3a3a;
	border-top: 1px solid #000;
	z-index: 999;
}

.marq:before {
position: absolute;
	color: #ededed;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: #111;
	border: 1px solid #000;
	padding: 15px 25px ;
	margin: -16px 0px 0px 0px;
	content: "shout";
	z-index: 999;
}

.avi {
	padding: 5px;
	margin: 0px;
	text-align:center;
	background-color: #000;
	border: 1px solid #181715;
	border: 1px solid #fff;
}

.lbtm {
	position: relative;
	left: 0px;
	top: 60%;
	width: 100%;
	height: 100%;
	background-color: #201f1d;
	margin: 5px 0px 0px 0px;
	padding: 1px 0px 2px 0px;

}

.right {
	position: relative;
	margin: 0px;
	top: 0px;
	right: 0px;
	width: 240px;
	height: 300px;
	background-color: #201f1d;
	padding: 10px 0px;
	text-align: center;
	float: right;
}

.top {
	position: absolute;
	top: 0;
	left: 0;
	width: 60%;
	height: 5%;
	background-color: #0C0C0C;
	z-index: 999;
}

.mid {
	position: absolute;
	top: 54%;
	left: 0;
	width: 70%;
	height: 8%;
	background-color: #211f1e;
	z-index: 999;
}

nav.music {
		position: relative;
		float: right;
		width: 60px;
		bottom: 0%;
		margin: 0px 20px;
		display: block;
		color: #000000;

		padding: 5px 20px;
		background-color: rgba(17,17,17,1);
		border-left: 2px double #ededed;
		z-index: 999;
	}

	menu {
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 5%;
		padding: 15px 0px 3px 0px;
		margin: 0px auto;
		float: center;
		text-align: center;
		background-color: #ededed;
		border-bottom: 1px solid #111;
		z-index: 999;
	}



	menu ul {
			list-style:none;
			margin: 0px 0px 0px 0px;
		}

		menu ul li {
			display: inline;
			margin: 0px;
		}

		menu ul li a {
			position: relative;
			display: inline-block;
			text-align: center;
			width: 100px;
			color: #000;
			font:small-caps;
			font-size: 7px;
			letter-spacing: 1px;
			text-decoration: none;
			text-transform: uppercase;
			margin: 0px;
			-moz-transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
			background-color: transparent;
			padding: 0px 50px 10px;
			cursor: help;
		}

		menu ul li a:hover {
			text-align: center;
			color: rgba(14,0,0,0.6);
			letter-spacing: 2pt;
			word-spacing: 1pt;
			background-color: transparent;
			transition: all 0.6s ease-in-out;
			-moz-transition: all .6s ease-in-out;
			-webkit-transition: all .6s ease-in-out;
			cursor: help;
		}


/* nav {
	position: absolute;
	top: 2%;
	left: 10%;
	z-index: 999;
	margin-left: 4px;
}



 nav ul {
		list-style:none;
		margin: 0px 0px 0px -20px;
	}

	nav ul li {
		display: inline;
		margin: 0px;
	}

	nav ul li a {
		text-align: center;
		font: normal 7px small-caps;
		display: inline-block;
		position: relative;
		width: 200px;
		height: 10px;
		color: #bdb3af;
		text-decoration: none;
		text-transform: uppercase;
		margin-right:10px;
		-moz-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		background-color: #0e0e0e;
		padding: 15px 0px;

		letter-spacing: 2px;
	}

	nav ul li a:hover {
		text-align: center;
		color: #181616;
		letter-spacing: 2pt;
		word-spacing:4pt;
		transition: all 0.6s ease-in-out;
		-moz-transition: all .6s ease-in-out;
		-webkit-transition: all .6s ease-in-out;
		cursor: crosshair;
		background-color: #bdb3af;
	} */

	footer {
		position: absolute;
		bottom: 0%!important;
		width: 100%;
		float: center;
		line-height: 9px;
		font-family: Century Gothic;
		color: #ededed;
		text-shadow: 2px 2px 4px #111;
		font-size: 6px;
		letter-spacing: 2px;
		Font-weight: bold;
		text-align: center;
		padding: 15px 0px;
		margin: 0px auto;
		background-color: #111111;
		border-top: 1px solid #000;
		text-transform:uppercase;
		clear:both;
		z-index: 999;
	}




h2 {
		text-align: center!important;
		font: normal 10px small fonts;
		height: 10px;
		color: #766863;
		text-decoration: none;
		text-transform: uppercase;
		-moz-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		background-color: #131210;
		padding: 15px 0px 15px 0px;
		margin: 5px 5px;
		font-family: arial;
			font-size: 7px;
			font-weight: normal;
		letter-spacing: 2px;

	}



hr {
	border-top: 1px dotted #ededed;
}

p {
		font-size: 9px;
		line-height: 14px;
		text-align: justify;
		margin: 0px 1px 1px 1px;
		padding: 0px 7px 2px 7px;
	color: #ededed;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	}


blockquote {
	text-align: left;
	margin: 30px 30px;
	font-size: 10pt;
		line-height:15px;
		padding: 0px 2px 2px 2px;
	color: #ededed;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

blockquote:before {
	content: "\201C";
	font-size: 50pt;
	float: left;
	padding: 35px 15px 5px 15px;
	margin: 2px 25px 20px 0px;
	color: #cdc2bf;
	background-color: rgba(17,17,17,0.7);
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	opacity: 1;
}
