@charset "utf-8";
/* CSS Document */


@media (min-width: 768px) {


}

 @media (min-width: 300px) {
	 
	 body {
		 font-size: 0.75em;
	 }

	 header, footer {
		 background-color: red;
	 }
	 
	menu {
		display: none;
	 }
            
}
        
@media only screen and (min-width: 500px) {
	body {
		font-size: 1.0em;
	}
          
	header, footer {
		background-color: green;
	}
	
	header {
		text-align: left;
	}
}      

