@charset "utf-8";
/* CSS Document */

@import url('http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');


body {
}

p {
	text-align: justify;
	color: #aaa;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: normal;
	line-height: 12pt;
	letter-spacing: 1px;
	margin: 0px 0px 5px;
	padding: 0px 10px 0px 10px;
	opacity: 1;
	overflow: hidden;
	z-index: 2;
}

hr {
	border-top: 5px double #ddd;
	border-left: 0px double #ddd;
	border-right: 0px double #ddd;
	margin: 0px auto 30px;
}

		u {
			text-decoration:none;
			text-transform:none;
			border-bottom:1px dotted #333;
		}

		i { color:#888; }

		b { font-weight:bold;
			text-transform:none;
			text-decoration:none;
			color:#aaa;
		}


blockquote {
	position: relative;
	width: 80%;
	font-size: 11pt;
	line-height: 25px;
	text-align: justify;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	text-transform: none;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

	margin: 50px auto;
	padding: 40px 50px 40px 20px;
}

blockquote:before {
	float: left;
	content: "\201C";
	font-family: 'Spartan';
	font-size: 52pt;
	font-weight: 100;
	color: #555;
	padding: 10px 15px 4px 0px;
	margin: 10px 15px 40px 0px;
}

textarea {
	width: 80%;
	height: 150px;
	margin: auto;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
}

a {
	font-size: 6pt;
	font-weight: 100;
	line-height: 12pt;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none!important;
	color: #ededed;
	background-color:transparent;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;

	padding:2px 2px 0px;
}

a:hover {
	color: rgba(237,237,237,0.4);
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

h1 {
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 13pt;
	font-weight: 200;
	line-height: 18px;
	letter-spacing: 2px;
	word-spacing: 0px;
	text-transform: uppercase;
	color: #fff;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

h1 span {
	display: block;
	text-align: right;
	font-size: 5pt;
	letter-spacing: 2px;
	word-spacing: 0px;
	color: #f7f7f7;
	border-top: 1px solid #555;
	padding: 0px 0px;
	margin: 0px 0px 20px 0px;
}

h1 span:after {
display: inline-block;
float: right;
	content: "\00BB";
	font-size: 12pt;
	font-weight: 200;
	color: #aaa;
	padding: 0px 10px 0px 50px;
	margin: ;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}



hr {
	border-bottom: 1px double #1a1a1a;
	margin: -12px 0px -2px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 9pt;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: justify;
	text-decoration: none;
	text-transform: uppercase;
	color: #ddd;
	padding: 20px 10px;
	margin: 0px;
}


				h3 {
					text-align: center;
					font-family: arial;
					font-size: 5pt;
					letter-spacing: 2px;
					height: 10px;
					color: #333;
					text-decoration: none;
					text-transform: uppercase;
					background-color: transparent;
					padding: 0px 0px;
					margin: 10px 0px;
				}

				h4 {
						width:98%;
						text-align: center;
						font-family: arial;
						font-size: 7px;
						font-weight: normal;
						letter-spacing: 2px;
						line-height: 20px;
						color: #f7f7f7;
						background-color: #121212;
						border-top: 1px solid #2B2B2B;
						border-left: 1px solid #2B2B2B;
						border-bottom: 1px solid #000;
						border-right: 1px solid #000;
						text-decoration: none;
						text-transform: uppercase;
						-moz-transition: all 0.3s ease;
						-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
						padding: 8px 0px;
						margin: 10px auto 15px;
				}

#tools {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding: 0px 0px 20px;
	margin: 0px 0px 40px;
}

#box {
	display: inline-block;
	width: 120px;
	text-align: center;
	margin: 0px 20px;
}

	#box span {
		display: block;
		font-family: 'Montserrat', sans-serif;
		font-size: 5pt;
		font-weight: 700;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
		color: #000;
		padding: 0px 0px;
		margin: 10px auto;
	}

	#box i {
		display: inline-block;
		width: 50px;
		text-align: center;
		color: #333;
		border:3px solid #fff;
		background-color: rgba(34, 34, 34, 0.03);
		border-radius: 80px;
		padding:40px 30px;
		margin: 0px auto;
		font-size: 18pt;
	}

.deck {
	width:100%;
	margin: 50px 0px;
}
	.card {
		position: relative;
		background-color: #fff;
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	  transition: 0.3s;
	  width: 95%;
	  height: 22%;
	  position:relative;

	  padding: 10px;
		margin: 0px auto 10px;

	}

	.card:hover {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	#desc {
		position: relative;
		float:left;
		width: 30%;
		height: 100%;
	text-align:right;
	background-color: #fbfbf9;
	}

	#desc h2 {
				text-align: right!important;
				padding: 20px 20px 20px 0px;
				text-transform: uppercase!important;
	}

	#desc p {
		text-align: right!important;
		padding: 0px 20px 0px 0px;
	}

	img#card {
	position:relative;
	float:right;
	width: 70%;
	height: 100%;
	}
