@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=BenchNine:100,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400&display=swap');



.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, h3, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select, h3 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


ul li h3 {
	font-family: 'Montserrat', sans-serif;
  font-size: 8pt;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: justify;
  text-shadow: none;
  display: block;
  color: #0a0a0a;
  margin: 10px 0px 30px;
}

ul li p {
	position: relative;
	text-align: justify;
	width: 80%;
  padding: 0px 10px;
  margin: 0px auto 10px;
}

ul {
  width: 90%;
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 50px auto 0px;
}
ul li {
  position: relative;
  padding: 0;
  margin: 0;
	  padding: 8px 0px 10px 20px;
  border-top: 1px dotted #dce7eb;
}

ul li:nth-child(1) { border-top: 0 dotted #dce7eb; }

ul li:last-of-type {
  padding-bottom: 0;
}
ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 20px;
  right: 0;
}
ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #333;
  width: 3px;
  height: 9px;
}
ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
  position: absolute;
  cursor: help;
  width: 50%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
