
@import url('http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic');


/* OVERALL WEBSITE STYLES */

body {
}

p {
	text-align: justify;
	color: #555;
	font-size: 8pt;
	line-height: 12pt;
	letter-spacing: 1px;
	transform: translate(0, 0);
	margin: 0px 0px 5px;
	padding: 0px 10px;
	opacity: 1;
	overflow: hidden;
	z-index: 2;
}

u {
	text-decoration:none;
	text-transform:none;
	border-bottom:1px dotted #333;
}

i { color:#888; }

b {
	font-weight:bold;
	color:#333;
}

a:link, a:visited, a:active {
	font-size: 6pt;
	font-weight: 600;
	text-align: center;
	text-decoration:none;
	text-transform: uppercase;
	color:#333;
	background-color:transparent;
	padding:3px 2px 1px;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

	a:hover {
		color:#f7f7f7;
		background-color:#777;
		cursor:help;
	}






h6 {
	display: block;
	width: 50%;
	font-family: 'Montserrat', sans-serif;
	font-size: 9pt;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	color: #777;
	background-color: #e8e7e3;
	border: 1px solid #aaa;
		padding: 80px 0px;
		margin: 0px auto;
}

h6:before {
	display: block;
	content: url("/site/suddenly/assets/img/file.png");
	padding: 0px 0px 20px;
	opacity: 0.8;
}








blockquote{
	position: relative;
	width:60%;
	font-size: 1.4em;
	font-family:'Open Sans';
	font-style:italic;
	line-height:1.6;
	text-align: justify;
	color: #555555;
	background:#ededed;
	border-left:4px solid #555;
	margin:50px auto;
	padding:20px 50px 20px 100px;
}

blockquote::before{
	font-family:Arial;
	content: "\201C";
	color:#777;
	font-size:4em;
	position: absolute;
	left: 40px;
	top:-10px;
}

blockquote::after{
	content: '';
}

blockquote span{
  display:block;
  float: right;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin: 10px 20px 10px 0px;
}


hr {
	border-bottom: 1px double #1a1a1a;
	margin: -12px 0px -2px;
}


h1 {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	font-weight: 600;
	letter-spacing: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #222;
	background-color: #f0f0f0;
	border-bottom: 1px solid #ddd;
	padding: 100px 0px;
	margin: 0px;
}

	h1:before {

	}


h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 9pt;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: justify;
	text-decoration: none;
	text-transform: uppercase;
	color: #111;
	padding: 20px 10px;
	margin: 0px;
}


				h3 {
					text-align: center;
					font-family: arial;
					font-size: 5pt;
					letter-spacing: 2px;
					height: 10px;
					color: #333;
					text-decoration: none;
					text-transform: uppercase;
					background-color: transparent;
					padding: 0px 0px;
					margin: 10px 0px;
				}

				h4 {
						width:98%;
						text-align: center;
						font-family: arial;
						font-size: 7px;
						font-weight: normal;
						letter-spacing: 2px;
						line-height: 20px;
						color: #f7f7f7;
						background-color: #121212;
						border-top: 1px solid #2B2B2B;
						border-left: 1px solid #2B2B2B;
						border-bottom: 1px solid #000;
						border-right: 1px solid #000;
						text-decoration: none;
						text-transform: uppercase;
						-moz-transition: all 0.3s ease;
						-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
						padding: 8px 0px;
						margin: 10px auto 15px;
				}






	/* INDEX STYLES */


	h1#home {
		text-align: justify;
		font-family: 'Montserrat', sans-serif;
		font-size: 3em;
		font-weight: 600;
		line-height: 18px;
		letter-spacing: 2px;
		word-spacing: 0px;
		text-transform: uppercase;
		color: #333;
		background-color: transparent;

		border:none;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}

	h1#home span {
		display: block;
		text-align: justify;
		font-size: 0.4rem;
		font-weight: 600;
		letter-spacing: 2px;
		word-spacing: 0px;
		color: #555;
		border-top: 1px solid #ddd;
		padding: 0px 0px 0px 2px;
		margin: 10px 0px 40px 0px;
	}

	#info {
		position: relative;
		width:100%;
		top:0%;
		right:0;
		text-align: center;
		background-color: #e5e3d7;
		border-bottom: 1px solid #eee;
		margin: 0px auto;
		padding: 13% 0%;
	}

#tools {
	display: inline-block;
	font-size: 16pt;
	color: #555;
	text-align: center;
	text-shadow: 2px 2px 3px #888;
	padding: 0px 2px;
	margin: 0px 20px;
}

	#tools span {
		display: block;
		font-family: 'roboto', sans-serif;
		font-size: 6pt;
		font-weight: 700;
		letter-spacing: 3px;
		text-align: center;
		text-transform: uppercase;
		text-shadow: none;
		color: #111;
		padding: 0px 0px;
		margin: 10px auto;
	}




	/* CARD DECK */

.deck {
	width:100%;
	margin: 50px 0px;
}

.card {
	position: relative;
	width: 95%;
	height: 22%;
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	padding: 10px;
	margin: 0px auto 10px;
}

	.card:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

img#card {
	position:relative;
	float:right;
	width: 70%;
	height: 100%;
}

#desc {
	position: relative;
	float:left;
	width: 30%;
	height: 100%;
	text-align:right;
	background-color: #fbfbf9;
}

	#desc h2 {
		text-align: right!important;
		padding: 20px 20px 20px 0px;
		text-transform: uppercase!important;
	}

	#desc p {
		text-align: right!important;
		padding: 0px 20px 0px 0px;
	}



/* BIOGRAPHY STYLES */




/* SERVICES STYLES */

#wave {
  position: relative;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

.box {
	width: 100%;
	height: 50%;
	background-color: #f7f7f7;
	border-bottom: 1px solid #a6a6a6;
}

.box:last-of-type {
	border-bottom: none;
}

#gl {
	position: relative;
	width: 25%;
	height: 100%;
	float:left;
	text-align: center;
	background-color: #333;
	border-bottom: 1px solid #333;
}

#gr {
	position: relative;
	width: 25%;
	height: 100%;
	float:right;
	text-align: center;
	background-color: #333;
	border-bottom: 1px solid #333;
}

#gl i, #gr i {
	font-size: 30pt;
	color: #bbb;
	margin: 130px 0px 0px;
}

#gl h2, #gr h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 9pt;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #f7f7f7;
	margin: 20px 0px 0px 0px;
}

h1#sv {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	font-weight: 600;
	letter-spacing: 4px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #222;
	background-color: #f0f0f0;
	border-bottom: 1px solid #ddd;
	padding: 100px 0px;
	margin: 0px;
}

	h1#sv:before {
		display: none;
	}

	hr {
		display: block;
		width: 50px;
		border: none;
		border-bottom: 1px solid #aaa;
		margin: 20px auto 0px;

	}


.quote {
	position: relative;
	float: right;
	left: 0%;
	top: 0px;
	width: 75%;
	text-align: center;
	color: #555555;
	background-color: transparent;
	border: none;
	margin:0px auto;
	padding: 7% 0px;
}

	.quote p {
		position: relative;
		width: 60%;
		font-size: 7pt;
		font-weight: bold;
		line-height: 12pt;
		text-align: justify;
		color: #555;
		margin: 0% auto;
		padding: 0px 10px;
		opacity: 1;
		overflow: hidden;
		z-index: 2;
	}

	.quote h2 {
		font-size: 10pt;
		font-weight: 500;
		letter-spacing: 3px;
		text-align: center;
		color: #222;
		margin: 30px auto 0px;
		padding: 0px;
	}

.quote h3 {
	font-size: 7pt;
	text-align: center;
	letter-spacing: 5px;
	color: #aaa;
	margin: 20px auto 20px;
	padding: 0px;
}

.quote h4 {
	text-align: center;
	font-family: arial;
	font-size: 8px;
	font-weight: bold;
	letter-spacing: 3px;
	color: #333;
	background-color: transparent;
	border: none;
	text-decoration: none;
	padding: 0px 0px;
	margin: 0px auto ;
}





/* DESIGN STYLES */



/* PRETTYPHOTO LIGHTBOX */

#New {
  position: relative;
  width: 100%;
  left: 0;
  margin: 50px auto;
  text-align: center;
  overflow: hidden;
}

  #New.Main { top: 0px; }

  #New #Display {
    display: inline-block;
    position: relative;
    width: 160px;
    height: 110px;
    background-color: #fff!important;
    border: 1px solid #e7e7e7;
    z-index: 1;
    margin: 10px;
    padding: 5px;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.4);
 }

#Display .Inner {
  position: relative;
  width: 100%;
  height: calc(100% - 35px);
  top: 0;
  left: 0;
  color: #fff;
  font: bold 11px Calibri;
  text-transform: Uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  margin: 0px auto;
  padding: 35px 0px 0px;
  opacity: 0;
  background-color: rgba(32, 32, 32, 0.8);
  cursor: default;
  -webkit-transition:all 0.5s ease-in-out;
     -moz-transition:all 0.5s ease-in-out;
      -ms-transition:all 0.5s ease-in-out;
       -o-transition:all 0.5s ease-in-out;
          transition:all 0.5s ease-in-out; }

#Display .Inner:hover {
  opacity: 1;
  -webkit-transition:all 0.5s ease-in-out;
     -moz-transition:all 0.5s ease-in-out;
      -ms-transition:all 0.5s ease-in-out;
       -o-transition:all 0.5s ease-in-out;
          transition:all 0.5s ease-in-out; }

#Display .Inner H1 {
  position: relative;
  font: bold 20px Calibri;
  text-align: center;
  line-height: 20px;
  padding: 50px 0 0 0;
  margin: 0px auto 0px;
  cursor: default;
}

  #Display .Inner H1:before{ display: none; }

  #Display .Inner H1.Pre {
    font-family:'BenchNine', sans-serif;
    font-weight:100;
    font-size:16pt;
    text-transform:uppercase;
    letter-spacing:2px;
    color:#fff;
		background-color: transparent;
		border:none;
    text-align:center;
    padding: 0px 0 0 0!important;
    margin:0 auto;
  }

  #Display .Inner span {
    display: block;
    font-family:'BenchNine', sans-serif;
    font-weight:100;
    font-size:9pt;
    text-transform:uppercase;
    letter-spacing:2px;
    color:#fff;
    text-align:center;
    padding: 5px 0 0 0!important;
    margin:0 auto;
  }

  a.Zoom:link, a.Zoom:active, a.Zoom:visited {
    position: relative;
    color: #fff;
    font-size: 15pt;
    text-decoration: none;
    padding: 0px;
    margin: 0px auto;
    opacity:1;
    -webkit-transition:all 0.5s ease-in-out;
       -moz-transition:all 0.5s ease-in-out;
        -ms-transition:all 0.5s ease-in-out;
         -o-transition:all 0.5s ease-in-out;
            transition:all 0.5s ease-in-out; }

  a.Zoom.Pre:link, a.Zoom.Pre:active, a.Zoom.Pre:visited { top: 0px; }
  a.Zoom.Cus:link, a.Zoom.Cus:active, a.Zoom.Cus:visited { top: 0px; }


  a.Zoom:hover, a.Form:hover {
    font-size: 16pt;
    color: #fff;
    background-color: rgba(0, 0, 0,0.2);
  }

/* FILTER BUTTONS */
.filterDiv {
  display: inline-block;
  display: none;
  text-align: center;
}

.show {
  display: inline-block;
}

button {
  display: inline-block;
  font-family: 'roboto', sans-serif;
  font-size: 6pt;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7f7f7;
  background-color: #333;
  border: none;
  padding: 10px 32px;
}

.btn {
  border: none;
  outline: none;
  color: #f7f7f7;
  background-color: #333;
  padding: 12px 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #888;
}

.btn.active {
  background-color: #555;
}








	/* FOOTER STYLES */


section#credit {
	position: relative;
	float: left;
	right: 0px;
	width: 50%;
	font-family: 'Raleway', sans-serif;
	font-size: 9pt;
	line-height:15px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 100;
	background-color: #111;
	border-right: 1px solid #1d1d1d;
	padding:72px 0px;
	margin: 0px auto;
}

	section#credit h1 {
		position: relative;
		width:100%;
		float: left;
		left:0px;
		text-align:center;
		font-family:Roboto, sans-serif;
		font-weight:100;
		color:#aaa;
		line-height:32px;
		font-size: 26pt;
		letter-spacing:1px;
		text-transform: uppercase;
		padding: 0px 0px;
		margin: 0px auto;
	}

		section#credit h1:before {	display: none; }

		section#credit	h1 span {
			display: block;
			position: relative;
			text-align:center;
			font-family: 'Montserrat', sans-serif;
			font-size: 5pt;
			font-weight: 200;
			letter-spacing:2px;
			text-transform:uppercase;
			color:#f7f7f7;
			margin: 0px auto 0px;
			padding: 0px;
		}

textarea {
	position: relative;
	float: right;
	width: 30%;
	height: 20%;
	font-family: 'roboto', sans-serif;
	font-size: 7pt;
	font-weight: 400;
	line-height: 10px;
	letter-spacing: 2px;
	word-spacing: 4px;
	text-align: center;
	color: #ededed;
	border: 1px solid #1d1d1d;
	background-image: url("https://via.placeholder.com/380x200/111111/222222");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 60px 0px;
	margin: 30px 120px 0px 0px;
}



/* MEDIA QUERIES */
@media only screen and (min-height: 875px) {

	#info {
		position: relative;
		width:100%;
		top:0%;
		right:0;
		text-align: center;
		background-color: #e5e3d7;
		border-bottom: 1px solid #eee;
		margin: 0px auto;
		padding: 15% 0%;
	}

}

@media only screen and (max-width: 400px) {


		#info {
			position: relative;
			width:100%;
			top:0%;
			right:0;
			text-align: center;
			background-color: #e5e3d7;
			border-bottom: 1px solid #eee;
			margin: 13% auto 0%;
			padding: 5% 0%;
		}

		h6 {
			display: block;
			width: 50%;
			font-family: 'Montserrat', sans-serif;
			font-size: 9pt;
			font-weight: 500;
			letter-spacing: 1px;
			text-align: center;
			color: #777;
			background-color: #e8e7e3;
			border: 1px solid #aaa;
				padding: 40px 0px;
				margin: 0px auto;
		}

		h6:before {
			display: block;
			content: url("/site/suddenly/assets/img/file.png");
			padding: 0px 0px 20px;
			opacity: 0.8;
		}

	#tools {
		width: 100%;
	}

#outs img {
	display: none;
}

}
