@charset "utf-8";
/* CSS Document */

@import url('http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');


body {
}

p {
	text-align: justify;
	color: #555;
	font-size: 8pt;
	line-height: 12pt;
	letter-spacing: 1px;
	transform: translate(0, 0);
	margin: 0px 0px 5px;
	padding: 0px 20px;
	opacity: 1;
	overflow: hidden;
	z-index: 2;

}




textarea {
	width: 80%;
	height: 150px;
	margin: auto;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
}

a {
	font-family: 'Barlow Condensed', sans-serif;
	color: #ededed;
	text-align: left;
	font-size: 17pt;
	font-weight: 100;
	line-height: 12pt;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline;
	text-decoration: none!important;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a:hover {
	color: rgba(237,237,237,0.5);
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

h1 {
		text-align: justify;
		font-family: 'Montserrat', sans-serif;
		font-size: 24pt;
		font-weight: 500;
		line-height: 18px;
		letter-spacing: 2px;
		word-spacing: 0px;
		text-transform: uppercase;
		color: #444;
		background-color: transparent;
		border:none;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
	}

	h1 span {
		display: block;
		text-align: justify;
		font-size: 5pt;
		font-weight: 700;
		letter-spacing: 2px;
		word-spacing: 0px;
		color: #333;
		border-top: 1px solid #ddd;
		padding: 0px 0px 0px 3px;
		margin: 10px 0px 20px 0px;
	}


hr {
	border-bottom: 1px double #1a1a1a;
	margin: -12px 0px -2px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 9pt;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: justify;
	text-decoration: none;
	text-transform: uppercase;
	color: #111;
	padding: 20px 10px;
	margin: 0px;
}


				h3 {
					text-align: center;
					font-family: arial;
					font-size: 5pt;
					letter-spacing: 2px;
					height: 10px;
					color: #333;
					text-decoration: none;
					text-transform: uppercase;
					background-color: transparent;
					padding: 0px 0px;
					margin: 10px 0px;
				}

				h4 {
						width:98%;
						text-align: center;
						font-family: arial;
						font-size: 7px;
						font-weight: normal;
						letter-spacing: 2px;
						line-height: 20px;
						color: #f7f7f7;
						background-color: #121212;
						border-top: 1px solid #2B2B2B;
						border-left: 1px solid #2B2B2B;
						border-bottom: 1px solid #000;
						border-right: 1px solid #000;
						text-decoration: none;
						text-transform: uppercase;
						-moz-transition: all 0.3s ease;
						-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
						padding: 8px 0px;
						margin: 10px auto 15px;
				}

#tools {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding: 0px 0px 20px;
	margin: 0px 0px 40px;
}

#box {
	display: inline-block;
	width: 120px;
	text-align: center;
	margin: 0px 20px;
}

	#box span {
		display: block;
		font-family: 'Montserrat', sans-serif;
		font-size: 5pt;
		font-weight: 700;
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
		color: #000;
		padding: 0px 0px;
		margin: 10px auto;
	}

	#box i {
		display: inline-block;
		width: 50px;
		text-align: center;
		color: #333;
		border:2px solid #f7f7f7;
		background-color: rgba(34, 34, 34, 0.03);
		border-radius: 80px;
		padding:40px 30px;
		margin: 0px auto;
		font-size: 18pt;
	}

.deck {
	width:100%;
	margin: 50px 0px;
}
	.card {
		position: relative;
		background-color: #fff;
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	  transition: 0.3s;
	  width: 75%;
	  height: 24%;
	  position:relative;

	  padding: 10px;
		margin: 0px auto 10px;

	}

	.card:hover {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	#desc {
		position: relative;
		float:left;
		width: 25%;
		height: 100%;
	text-align:right;
	background-color: #fbfbf9;
	}

	#desc h2 {
				text-align: right!important;
				padding: 20px 20px 20px 0px;
				text-transform: uppercase!important;
	}

	#desc p {
		text-align: right!important;
		padding: 0px 20px 0px 0px;
	}

	img#card {
	position:relative;
	float:right;
	width: 74%;
	height: 100%;
	}


/* FOOTER STYLES */



	#ft blockquote {
		display: block;
		position: relative;
		float: left;
		width:50%;
		font-size: 2em;
		font-family:'Open Sans';
		font-style:italic;
		font-weight: 100;
		line-height:1.4;
		text-align: justify;
		color: #777;
		margin:0px;
		padding:50px 50px 50px 0px;
	}

		#ft blockquote:before {
			display: block;
			position: relative;
			float: left;
			font-family: 'Spartan';
			font-size: 70pt;
			content: "\201C";
			color: #777;
			margin: -20px 30px 0px 0px;
		}

		#ft blockquote span {
			display: block;
			font-family: 'Montserrat', sans-serif;
			font-size: 8pt;
			font-weight: 500;
			font-style: normal;
			letter-spacing: 4px;
			text-align: right;
			text-decoration: none;
			text-transform: uppercase;
			color: #888;
			padding: 0px 0px;
			margin: 20px 20px 0px 0px;
		}

		#ft blockquote span::before {
			content: '\2013';
			font-weight: 700;
			padding-right: 30px;
		}


	/* MEDIA QUERIES */

@media only screen and (max-width: 800px) {

	#tools {
		width: 60%;
		text-align: center;
		border-bottom: 1px solid #ddd;
		padding: 0px 0px 20px;
		margin: 0px auto 40px;
	}

}
