@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
body {
	font-size: 6pt;
	font-family: arial;
	font-weight: normal;
	color: #111;
	text-align: center;
}
p {
	margin: 0px;
	padding: 5px 10px 1px 10px;
	font-family: helvetica;  
	color: #555555; 
	font-size: 9px;
	text-align: justify;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	font-style: italic;
	cursor: help;
}
u { 
	text-decoration: none;
	text-transform: none;
	border-bottom:1px dotted #a58876;
}

i { color: #888; }

b { text-weight: bold;
	color: #A58876;
}

h2 {
	text-align: center!important;
	font: normal 10px small fonts;
	height: 10px;
	color: #766863;
	text-decoration: none;
	text-transform: uppercase;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #121212;
	border-top: 1px solid #2B2B2B;
	border-left: 1px solid #2B2B2B;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	padding: 15px 0px 15px 0px;
	margin: 2px 2px;
	font-family: arial;
	font-size: 7px;
	font-weight: normal;
	letter-spacing: 2px;
}

h3 {
	font: normal 11px small fonts; 
	color: #0E0E0E; 
	text-decoration: none; 
	text-transform: uppercase; 
	background-color: transparent;
	border: 1px solid #bdb3af;
	padding: 5px 5px;
	font-family: arial;
	font-size: 7px;
	font-weight: normal;
	letter-spacing: 2px;
	margin: 20px 10px 0px 10px;
	text-align: center;
}


#uts {

	float: left;
	margin: 5px 0px;
	border-bottom: 1px solid #0c0c0c;
}



h1 {
	display: inline-block;
	font: normal 10px small fonts;
	color: #ededed;
	line-height: 10pt;
	letter-spacing: 2px;
	text-transform: lowercase;
	text-align: center;
	padding: 5px 4px;
	float: right;
	margin: 0px 7px 2px 10px;
	background-color: #131210;
	border: 1px solid #000;
	text-align: justify;
}



pink {
	color: #a58876;
	font: normal 11px small fonts;
	text-align: center;
	
}



blockquote {
	font-size: 10px;
	line-height: 30px;
	text-align: center;
	color: #484443;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	border-left: 2px solid #484443;
	border-right: 2px solid #484443;
	letter-spacing: 1px;
	margin: 10px 50px;
}
img.gal {
	opacity: 1;
	padding: 8px;
	margin: 0px 10px;
	border: 1px solid #363535;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
img.gal:hover {
	opacity: 0.3;
	background-color: rgba(237,237,237,1);
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:vertical {
background-color: #0C0C0C;
height: 50px;
border-radius: 60px;
}
	::-webkit-scrollbar {
height: 6px;
width: 6px;
background-color: transparent;
}
