@charset "utf-8";
/* CSS Document */

	@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600,700,800,900&display=swap');

body {

}

p {
	position: relative;
	text-align: justify;
	color: #555;
	font-size: 8pt;
	line-height: 15pt;
	letter-spacing: 1px;
	transform: translate(0, 0);
	padding: 0px 10px;
	opacity: 1;
	overflow: hidden;
	z-index: 2;

}

u {
	text-decoration:none;
	text-transform:none;
	border-bottom:1px dotted #333;
}

i { color:#888; }

b { font-weight:bold;
	text-transform:none;
	text-decoration:none;
	color:#333;
}

hr {
	width: 20%;
	border-top: 1px solid #252d3e;
	border-bottom: 0px;
	margin: 3% auto;
}

a,a:link,a:visited,a:active {
	font-family: Sans-serif;
	font-size: 7pt;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
	text-decoration:none;
	text-transform: uppercase;
	color:#111;
	background-color:transparent;
	padding:1px 2px;
}
		a:hover {
			color:#f7f7f7;
			background-color:#333;
			cursor:help;
		}


h1 {
	text-align: justify;
		font-family: 'Montserrat', sans-serif;
		font-size: 24pt;
		font-weight: 600;
		line-height: 18px;
		letter-spacing: 2px;
		word-spacing: 0px;
		text-transform: uppercase;
		color: #252d3e;
		background-color: transparent;
		border:none;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
}

h2 {
	text-align: justify;
	font-family: arial;
	font-size: 5pt;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 6px;
	color: #777;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 20px 2px;
}


h3 {
	text-align: center;
	font-family: arial;
	font-size: 5pt;
	letter-spacing: 2px;
	height: 10px;
	color: #111;
	text-decoration: none;
	text-transform: uppercase;
	background-color: transparent;
	padding: 0px 0px;
	margin: 10px 0px;
}

h4 {
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 8pt;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 6px;
	text-transform: uppercase;
	color: #000;
	padding-left: 10px;
	margin: 10px auto;
}

h5 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
		font-size: 9pt;
		font-weight: normal;
		letter-spacing: 2px;
		color: #555;
		text-decoration: none;
		text-transform: uppercase;
		-moz-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		padding: 8px 0px;
		margin: 10px auto 15px;
}

.quote {
	width: 100%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 8pt;
		letter-spacing: 2px;
		color: #555;
		border-top: 1px solid #bbb;
		text-decoration: none;
		text-transform: uppercase;
		-moz-transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		padding: 10% 0px 0px;
		margin: 50px auto;
}

section {
	text-align: center;
	padding:50px 0px;
	margin: 0px auto;
}

blockquote {
	position: relative;
	width: 65%;
	font-family: 'Montserrat', sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 2px;
	word-spacing: 1px;
	color: #888;
	margin: 0px auto 0px;
	padding: 15px 0px;
}

img:hover {
	opacity: 0.9;
	-moz-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
	cursor: help;
}

/*
::-webkit-scrollbar-thumb:vertical {
background-color: #0C0C0C;
height: 50px;
border-radius: 60px;
}
	::-webkit-scrollbar {
height: 6px;
width: 6px;
background-color: transparent;
}
*/
