@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	line-height:20px;
}

#box p {

	color:#bcbcbc;
	font-family:Arial, Helvetica, sans-serif;
	font-size:7pt;
	text-align:justify;
	line-height:20px;
	padding: 10px 40px;
	margin: 0px;
}

table {
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:center;
	color:#c9c9c9;
	line-height:15px;
}

u {
	text-decoration:none;
	text-transform:none;
	border-bottom:1px dotted #202A21;
}

i { color:#888; }

b {
	text-weight:bold;
	text-transform:none;
	text-decoration:none;
	color:#E0393D!important;
}

h1 {
	text-align:center;
	font-family:Roboto, sans-serif;
	font-weight:100;
	color:#e0393d;
	height:50px;
	line-height:50px;
	font-size:36px;
	margin:0;
}

h2 {
	width:500px;
	text-align:center;
	font-family:Roboto, sans-serif;
	font-weight:400;
	color:#999;
	height:80px;
	line-height:40px;
	font-size:15px;
	letter-spacing:1px;
	margin:0 auto;
}

h3 {
	text-align:center;
	font-family:Roboto, sans-serif;
	font-weight:200;
	color:#f7f7f7;
	text-transform:uppercase;
	font-size:7pt;
	letter-spacing:2px;
	margin: 0px auto 0px;

}

h3 span {
	display:block;
	font-size:10px;
	color:#4e4e4e;
	height:20px;
	line-height:20px;

}

h5 {
		text-align: center!important;
		font-family: arial;
		font-size: 8pt;
		font-weight: normal;
		line-height: 10px;
		color: #fff;

		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 4px;

		padding: 0px 0px;
		margin: 0px 0px;
}


#box {
	width: 300px;
	border:1px solid #0e0e0e;
	background-color: rgba(34, 34, 34, 0.8);
	-moz-transition:all .5s ease;
	-webkit-transition:all .5s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
	padding:30px 0px;
	margin: 0px 20px;

}

#box:hover {
	cursor:help;
	border:1px solid #333;
	background-color: rgba(34, 34, 34, 0.5);
}

p { color:#bcbcbc; }

hr { width: 10%;}

img#friend {
	position: relative;
	width:160px;
	height:160px;
	border-radius:220px;
	background-color:#fff;
	background-position:center;
	background-repeat:no-repeat;
	object-fit: cover;
	border:2px solid #ddd;
	-moz-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all 1s ease;
	margin:10px auto;
}

img#friend:hover {
	filter: grayscale(40%);
		border:2px solid #777;
}


a,a:link,a:visited,a:active {
	background-color:transparent;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CCC;
	text-decoration:none;
	-moz-transition:all .5s ease;
	-webkit-transition:all .5s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
	padding:2px 1px;
}

a:hover {
	background-color:#e0393d;
	cursor:crosshair;
	color: #0d0d0d;
}

::selection,::-o-selection,::-moz-selection,::-webkit-selection { color:#CECECE;background-color:transparent; }
