@charset "utf-8";
/* CSS Document */

body {
	background-color: #292727;
	font-family: 'Barlow Condensed', sans-serif;
	color: #ededed;
	font-size: 9pt;
	text-align: center;
	font-weight: 100;
	line-height: 12pt;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#wrapper {
	position: absolute;
	width: 80%;
	top: 7%;
	left: 10%;
	background-color: #111;
}

.copy, section {
	text-align: center;
	padding: 30px;
}

header {
	background-color: #000;
	color: #FFF;
	padding: 7px 10px;
	font-size: 10pt;
}

footer {
	background-color: #000;
	color: #FFF;
	padding: 7px 10px;
	font-size: 10pt;
}

textarea {
	width: 80%;
	height: 150px;
	margin: auto;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 16px;
	resize: none;
}

a {
	font-family: 'Barlow Condensed', sans-serif;
	color: #ededed;
	text-align: left;
	font-size: 17pt;
	font-weight: 100;
	line-height: 12pt;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline;
	text-decoration: none!important;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a:hover {
	color: rgba(237,237,237,0.5);
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

h1 {
	font-family: 'Barlow Condensed', sans-serif;
	color: #ededed;
	text-align: left;
	font-size: 17pt;
	font-weight: 100;
	line-height: 12pt;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: block;
}

span {
	font-family: 'Barlow Condensed', sans-serif;
	color: #ededed;
	text-align: left;
	font-size: 12pt;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
}

hr {
	border-bottom: 1px double #1a1a1a;
	margin: -12px 0px -2px;
}

h2 {
	font-family: 'Barlow Condensed', sans-serif;
	;
	color: #ededed;
	font-size: 10pt;
	text-align: left;
	font-weight: normal;
	line-height: 15pt;
	text-transform: uppercase;
	margin: 0px;
	padding-bottom: 10px;
	width: auto;
}

h3 {
	font-family: 'Barlow Condensed', sans-serif;
	color: #ededed;
	font-size: 8pt;
	text-align: center;
	font-weight: 100;
	line-height: 12pt;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-bottom: 4px;
}

h4 {
	font-family: 'Barlow Condensed', sans-serif;
	;
	color: #ededed;
	font-size: 14pt;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	margin: 0px auto 7px;
	padding-bottom: 2px;
	border-bottom: 1px solid rgba(237,237,237,0.5);
	width: 20%;
}

nav {
	position: absolute;
	display: inline-block;
	float: right;
	top: 30px;
}

nav ul {
	list-style: none;
	margin: 0px;
}

nav ul li {
	display: inline-block;
	margin: 0px;
}

nav ul li a {
	text-align: center;
	font: normal 5pt small fonts;
	display: inline-block;
	position: relative;
	width: 110px;
	height: 8px;
	color: #bdb3af;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 10px;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #181616;
	padding: 10px 10px;
	font-family: arial;
	font-weight: normal;
	letter-spacing: 2px;
}

nav ul li a:hover {
	text-align: center;
	color: #181616;
	letter-spacing: 2pt;
	word-spacing: 4pt;
	transition: all 0.6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-webkit-transition: all .6s ease-in-out;
	cursor: crosshair;
	background-color: #bdb3af;
}
