<!--YOU CAN CHANGE THE COLOR OF YOUR TEXT, LINKS, ETC. OF YOUR LAYOUT BELOW-->



<style type="text/css">

#content {
	width: 900px;
	height: 672px;
}


#DEFAULT {
	position: absolute;
	left: 77px;
	top: 107px;
	width: 525px;
	height: 277px;
	overflow: auto;
}

#UPDATES {
	position: absolute;
	left: 610px;
	top: 137px;
	width: 204px;
	height: 105px;
	overflow: auto;
}

#PRODUCTS {
	position: absolute;
	left: 611px;
	top: 279px;
	width: 204px;
	height: 105px;
	overflow: auto;
}

#ABOUT {
	position: absolute;
	left: 241px;
	top: 448px;
	width: 303px;
	height: 181px;
	overflow: auto;
}


/* text */

body, div {
	font: 9px "Arial";
	color: #666 !important;
	cursor: crosshair;
}

b {
	font: bold 10px "Century Gothic";
	letter-spacing: 1px;
	color: #FFA800 !important;
}

i {
	font-style: italic;
	letter-spacing: 1px;
	color: #eee !important;
}

u {
	font: bold 10px "Century Gothic";
	letter-spacing: 0.5px;
	text-decoration: none;
	border-bottom: 1px dotted #FFA800;
}



/* links */

a, a:link, a:visited, a:active {
	font: bold 9px "Century Gothic";
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #000 !important;
	-moz-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	cursor: help;
}

a:hover {
	background-color: #111;
	color: #fff !important;
}



/* headers */

h1 {
	font: 17px "Century Gothic";
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 10px;
	color: #FFA800 !important;
}

h2 {
	font: bold 10px "Century Gothic";
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 10px;
	color: #fff !important;
}

h3 {
	font: 7px "Small Fonts", "Century Gothic";
	letter-spacing: 2px;
	color: #fff !important;
	text-align: center;
	text-transform: uppercase;
	background-color: #0c0c0c;
	padding: 5px;
	margin-left: 0;
}



/* horizontal rule */

hr {
	border-width: 0px 0px 1px;
	border-style: dotted;
	border-color: #aaa;
}


#url_panel { width: 900px !important; }
#url_panel_header, #url_panel_ColRow { display: none !important; }

</style>
