@charset "utf-8";
/* CSS Document */

/* P O P S C R E A M COPYRIGHT 2016 www.cirqushop.webs.com */
* {
	moz-transition-duration: all .5s ease;
	-o-transition-duration: all .5s ease;
	-webkit-transition-duration: all .5s ease ease;
	transition-duration: all .5s ease;
	-moz-transition-duration: all .5s ease;
	-webkit-transition: all .5s ease;
}
home {
	font-family: helvetica;
	letter-spacing: 0;
	font-size: 9px;
	color: #585858;
	animation: fadein 2s;
	-moz-animation: fadein 2s;
	-webkit-animation: fadein 2s;
	-o-animation: fadein 2s;
	background-color: transparent;
}
body, html {
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
* {
	-moz-user-select: none
}
* {
	cursor: Default!important
}
::selection {
	background: rgba(0,0,0,0.8);
	color: #fff
}
::-webkit-scrollbar {
width:2px
}
::-webkit-scrollbar-track {
background-color:#040404
}
::-webkit-scrollbar-thumb {
background-color:#3f413d
}
::-webkit-scrollbar:horizontal {
height:8px
}

p {
	line height: 10px;
	margin: 0px 0px 10px;
}
home a {
	text-decoration: none;
	color: #CCC;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	-moz-transition-duration: .5s
}
home a:hover {
	color: #828882;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	-webkit-transition-duration: .5s;
	transition-duration: .5s;
	-moz-transition-duration: .5s
}
home {
	line-height: 160%;
	text-align: justify;
	color: rgba(89,89,89,0.5);
	font-family: calibri;
	letter-spacing: .25px;
	font-size: 10px;
	-webkit-transition: .5s ease
}
home:hover {
	color: rgba(89,89,89,0.9)
}

h2 {
	color: #6c6c6c;
	background: #1e1f1d;
	width: 99%;
	font: lighter 11px calibri;
	text-align: right;
	letter-spacing: 4px;
	text-transform: uppercase;
	-webkit-transition-duration: .5s;
	padding: 15px 10px 2px 0px;
	-moz-transition-duration: .5s
}
h2:hover {
	background: #cfd9cf;
	-webkit-transition-duration: .5s;
	letter-spacing: 3px;
	-moz-transition-duration: .5s;
	color: #000
}
home b {
	letter-spacing: 1px;
	color: #535653
}
home i, s {
	letter-spacing: 0;
	color: #535653;
	font-weight: lighter
}
home u {
	letter-spacing: 0;
	color: #535653;
	text-decoration: none;
	border-bottom: 1px dotted #535653
}
home a {
	color: #535653!important;
	text-transform: uppercase;
	font-family: calibri;
	text-decoration: none;
	font-weight: 700
}
home a:hover {
	background-color: #828882;
	color: #fff!important;
	text-decoration: none;
	cursor: link
}
h1 {
	border-left: 1px solid #414441;
	padding-left: 5px;
	color: #414441;
	font-size: 8px;
	font-family: calibri;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	letter-spacing: 1px;
	text-transform: uppercase;

	border-left: 5px solid #d1d8d1;
	color: #d1d8d1;
	letter-spacing: 1px;
}
home img {
	opacity: .5;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s
}
home img:hover {
	opacity: 1
}
body {
	animation: fadein 2s;
	-moz-animation: fadein 2s; /* Firefox */
	-webkit-animation: fadein 2s; /* Safari and Chrome */
	-o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
from {
opacity: 0
}
to {
opacity: 1
}
}
@-moz-keyframes fadein {
from {
opacity: 0
}
to {
opacity: 1
}
}
@-webkit-keyframes fadein {
from {
opacity: 0
}
to {
opacity: 1
}
}
