@charset "utf-8";
/* CSS Document */

* {
	-moz-transition: 0.5s ease;
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
	moz-transition-duration: all 0.5s ease;
	-webkit-transition-duration: all .5s ease ease;
	transition-duration: all .5s ease;
	-moz-animation: fadein 2s;
	-webkit-animation: fadein 6s;
	animation: fadein 6s;
}

/*
html {
  background: url(https://ringvemedia.com/server//bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-position: fixed;
}
*/

img.bg {
	background-size: cover;
}


::-webkit-scrollbar {
width:3px;
}

::-webkit-scrollbar-track {
background-color:transparent;
}

::-webkit-scrollbar-thumb {
background-color:#fff;
}

::-webkit-scrollbar:horizontal {
height:0;
}
body {
	overflow-x: hidden;
	background-color: #000;
}

::selection {
	background: transparent;
	color: #d2b7d2;
}
layout {
	position: fixed;
	text-align: center;
	margin: 0px auto 0px;
	left: 0%;
	top: 0%;
	width: 100%;
	height: auto;
	min-height: 870px;
	background: url(https://ringvemedia.com/server/bg.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
	background-size: cover;
}

header {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0%;
	right: 0%;
	line-height: 10px;
	font-family: Century Gothic;
	font-size: 7px;
	letter-spacing: 1px;
	color: #fff;
	background-color: #111;
	padding: 10px 0px;

	border-bottom: 1px solid rgba(255,255,255,0.8);
	text-transform: uppercase;
	z-index: 500;
}

header:hover {
	border-color: #fff;
}

.main {
	position: absolute;
	width: 41%;
	height: 40%!important;
	left: 0%;
	right: 0%;
	top: 20%;
	background-color: #000;
	margin: 0px auto 0px;
	z-index: 99;
}

#home {
	position: relative;
	padding: 10px 0px;
	border-left: 1px solid rgba(255,255,255,0.1);
	padding-left: 10px;
	border-right: 1px solid rgba(255,255,255,0.1);
	padding-right: 10px;
	background-color: rgba(17,17,17,1);
	padding: 10px;
}

#home:hover {
	border-color: rgba(255,255,255,.7);
}

#Map area {
	outline: none!important;
}
*, body, html {
	-moz-user-select: none!important;
	-ms-user-select: none!important;
	user-select: none!important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}
::selection {
	background: transparent;
}
::-moz-selection {
background:transparent;
}
a, a:visited, a:focus, a:active, a:hover {
	outline: 0 none!important;
}

.avatar img:hover {
	border-color: #f3f3f3;
	opacity: .9;
}
menu {
	position: relative;
	width: 100%;
	top: 0%;

	margin: 0px auto;

}
menu a {
	text-decoration: none;
	font: bold 8px calibri;
	text-transform: uppercase;
	color: #ededed;
	width: 120px;
	height: 7px;

	letter-spacing: 1px;
	text-align: center;
	display: inline-table;
	/* border-left: 7px solid #000; */
	line-height: 7px;
	margin: 0px 10px;
	padding: 0px 20px;

}
menu
a:hover {
	border-color: #ededed;
	color: #E8C9A1;
	text-shadow: 0 7px rgba(237,237,237,0.3);
	letter-spacing: 4px;
	opacity: 0.8;
	cursor: help;
}

footer {
	margin-top: 20px;
	line-height: 10px;
	font-family: Century Gothic;
	color: #fff;
	background-color: #111;
	font-size: 7px;
	letter-spacing: 1px;
	position: fixed;
	width: 100%;
	bottom: 0;
	right: 0;
	z-index: 500;
	padding: 10px 0px;
	-webkit-transition: .3s ease;
	border-top: 1px solid rgba(255,255,255,0.3);
	text-transform: uppercase;
}

footer:hover {
	border-color: #fff;
}

menu a img {
	-webkit-filter: invert(1);
	-moz-filter: invert(1)
}
menu a:hover img {
	-webkit-filter: invert(0);
	-moz-filter: invert(0);
}
menu:nth-of-type(2n) {
	left: 830px;
}

#logo {
	position: relative;
	margin: 40px auto;
	z-index: 1;
	opacity: 1;
}
#logo:hover {
	-webkit-filter: grayscale(100%);
	opacity: .5;
}
.avatar {
	position: inherit;
	left: 624px;
	top: 150px;
	z-index: 0;
	overflow: hidden;
	-webkit-transition-duration: .3s;
	border-color: #222425;
	padding: 4px;
	border: 1px solid #1c1d1d;
	background-color: #1c1d1d;
}
.avatar:hover {
	background-color: transparent;
	border-color: #5f5f5f;
}
.avatar:hover img {
	opacity: .7;
}
#ss {
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: .2;
	padding-top: 15px;
	padding-left: 20px;
}
#ss:hover {
	border-color: rgba(255,255,255,1);
	opacity: .8;
}

#music {
	opacity: .5;
}
#music:hover {
	opacity: 1;
}
nav {
	position: absolute;
	float: right;
	top: 18%!important;
	right: 23%!important;
	color: #fff;
	z-index: 999!important;
}
nav a {
	color: #434343;
	text-decoration: none;
	font-family: calibri;
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	-webkit-transition: .5s ease;
	opacity: .8;
	font-style: normal;
	display: table;
	margin: 40px 0px;
	cursor: help;
}

nav a:hover {
	text-shadow: 0 10px #fff;
	color: #1F1F1F;
}
