@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=BenchNine:100,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400&display=swap');



.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select, h3 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.info {
	position: relative;
	width: 75%;
	padding: 0px 0px;
	margin: 0px auto 0px;
}

#top {
	width:100%;
	height: 30%;
	text-align:center;

	color: #111;
	background-color:#f7f7f7;
	border-bottom: 1px solid #e8e8e8;
	padding: 50px 0px 50px;
	margin: 0px auto 30px;
}

h1 {
	width:100%;
	text-align:center;
	font-family:'Raleway', sans-serif;
	font-weight:100;
	font-size: 26pt;
	letter-spacing:1px;
	line-height:40px;
	text-transform: uppercase;
	color: #111;
	-moz-transition:all .5s ease;
	-webkit-transition:all .5s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
	padding: 0px 0px 0px;
	margin: 0px auto 0px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 40pt;

	line-height: 8pt;
	letter-spacing: 6px;
	text-align: center;
	text-transform: uppercase;
	color: rgba(0,0,0,0.6);
	padding: 0px;
	margin: 0px auto 60px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
  font-size: 9pt;
  line-height: 26px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  color: #0e0e0e;
  margin: 0;
  cursor: pointer;
}

blockquote {
	width: 40%;
	font-family: 'Montserrat', sans-serif;
	font-size: 7pt;
	line-height: 15pt;

	text-align: justify;
	color: #000;
	padding: 0px;
	margin: 0px auto;
	letter-spacing: 1px;
}

p {
	position: relative;
	text-align: justify;
	width: 80%;
  color: #111;
  font-size: 7pt;
  line-height: 10pt;
  letter-spacing: 1px;
  transform: translate(0, 0);
	padding: 0px 10px;
  margin: 14px auto 0px;
	opacity: 1;
	overflow: hidden;
  z-index: 2;
}

ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
ul li {
  position: relative;
  padding: 0;
  margin: 0;
	  padding: 8px 0px 10px 20px;
  border-top: 1px dotted #dce7eb;
}

ul li:nth-child(1) { border-top: 0 dotted #dce7eb; }

ul li:last-of-type {
  padding-bottom: 0;
}
ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: #333;
  width: 3px;
  height: 9px;
}
ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

b, em { color: #6c6c6c; }
u { border-bottom: 1px solid #950000; text-decoration: none;}
a:link, a:active, a:visited{ color: #950000; padding: 1px 3px; text-decoration: none;}
a:hover { color: #fff; background-color:#6c6c6c; cursor: help; text-decoration: none; border-bottom: dotted 0px #fff; }

u {
	text-decoration:none;
	text-transform:none;
	border-bottom:1px dotted #e0393d;
}

i { color:#888; }

b {
	text-weight:bold;
	text-transform:none;
	text-decoration:none;
	color:#e0393d;
}


button,hr,input{overflow:visible}audio,canvas,progress,video{display:inline-block}progress,sub,sup{vertical-align:baseline}html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0} menu,article,aside,details,footer,header,nav,section{display:block}h1{font-size:2em;margin:0 0;}figcaption,figure,main{display:block;}figure{margin:1em 40px;}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{}button,select{text-transform:none}[type=submit], [type=reset],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}/*# sourceMappingURL=normalize.min.css.map */
