@charset "utf-8";
/* CSS Document */

@import url('http://fonts.googleapis.com/css?family=Roboto:400,100');
	@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
	@import url('https://fonts.googleapis.com/css?family=BenchNine:100,300,400&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,400&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Advent+Pro:100,200,300,400&display=swap');
	@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:100,200,300,400&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Oswald:100,200,300,400&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Gayathri:100,200,300&display=swap');

	body {
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
	}


	#top {
		width:100%;
		height: 30%;
		text-align:center;
		top: 0%;
		color: #111;
		background-color:#f7f7f7;
		border-bottom: 1px solid #e8e8e8;
		padding: 0px 0px 50px;
		margin: 0px auto 30px;
	}

	p {
		float: right;
		line-height: 10px;
		text-align: justify;

		position: relative;
		text-align: justify;
		color: #555;
		font-size: 8pt;
		line-height: 15pt;
		letter-spacing: 1px;
		transform: translate(0, 0);
		padding: 0px 10px;
		opacity: 1;
		overflow: hidden;
		z-index: 2;
	}

	u {
		text-decoration:none;
		text-transform:none;
		border-bottom:1px dotted #202A21;
	}

	i { color:#888; }

	b { text-weight:bold;
		text-transform:none;
		text-decoration:none;
		color:#202A21;
	}

	h1 {
		width:100%;
		text-align:center;
		font-family:'Raleway', sans-serif;
		font-weight:100;
		font-size: 26pt;
		letter-spacing:1px;
		line-height:40px;
		text-transform: uppercase;
		color: #111;
		-moz-transition:all .5s ease;
		-webkit-transition:all .5s ease;
		-ms-transition:all .5s ease;
		-o-transition:all .5s ease;
		transition:all .5s ease;
		padding: 10px 0px 20px;
		margin: 0px auto;
	}


	h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 40pt;

		line-height: 8pt;
		letter-spacing: 6px;
		text-align: center;
		text-transform: uppercase;
				color: rgba(0,0,0,0.6);
		padding: 0px 0px 0px;
		margin: 0px auto 50px;
	}

	.area {
		text-align: center;
	}


	blockquote {
		position: relative;
		display: block;
		width: 40%;
		font-family: 'Montserrat', sans-serif;
		font-size: 7pt;
		line-height: 15pt;

		text-align: justify;
		color: #000;
		width: 37%;
		margin: 0px auto;
		margin: 0px auto;
		letter-spacing: 1px;
	}

	h3 {
		width:100%;
		text-align:center;
		font-family:Roboto, sans-serif;
		font-weight:100;
		color:#fff;
		height:50px;
		line-height:50px;
		font-size:10px;
		background-color:#e0393d;
		text-transform:uppercase;
		letter-spacing:2px;
		-moz-transition:all .5s ease;
		-webkit-transition:all .5s ease;
		-ms-transition:all .5s ease;
		-o-transition:all .5s ease;
		transition:all .5s ease;
		margin:0 auto;
	}

	h3:hover {
		background-color:#ddd;
		color:#e0393d;
		letter-spacing:3px;
		cursor:help;
	}

	#dp {
		width:900px;
		height:220px;
		background-image:url("http://placehold.it/900x220/ddd/202A21");
		background-position:center;
		background-repeat:no-repeat;
		background-color:#f9f9f9;
		border:1px solid #ddd;
		-moz-transition:all .5s ease;
		-webkit-transition:all .5s ease;
		-ms-transition:all .5s ease;
		-o-transition:all .5s ease;
		transition:all .5s ease;
		margin:0 auto;
		padding:40px;
	}

	#dp:hover {
		cursor:help;
	}

	img:hover {
		opacity: 0.8;
	}

	a,a:link,a:visited,a:active {
		background-color:transparent;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#999;
		text-decoration:none;
		-moz-transition:all .5s ease;
		-webkit-transition:all .5s ease;
		-ms-transition:all .5s ease;
		-o-transition:all .5s ease;
		transition:all .5s ease;
		padding:3px 2px;
	}

	a:hover {
		color:#fff;
		cursor:help;
	}

	::selection,::-o-selection,::-moz-selection,::-webkit-selection { color:#CECECE;background-color:transparent; }
