@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);
	@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#999;
}

p {
	float: right;
	line-height: 10px;
	text-align: justify;
}

u {
	text-decoration:none;
	text-transform:none;
	border-bottom:1px dotted #202A21;
}

i { color:#888; }

b { text-weight:bold;
	text-transform:none;
	text-decoration:none;
	color:#202A21;
}

section {
width: 100%;
text-align: center;
background-color: #000;
padding: 10px;
margin: 0px auto;
z-index: 999;
}

img.soc {
	position: relative;
	float: left;
	width:40px;
	height: 40px;
	text-align: center;
	margin: 10px 5px 0px;
}

img.con {
	position: relative;
	float: right;
	width:30px;
	height: 30px;
	right: 0%;
	text-align: center;
	margin: 2px 10px 0px;
}


h1 {
	position: relative;
	width:100%;
	float: left;
	left:0px;
	text-align:center;
	font-family:Roboto, sans-serif;
	font-weight:100;
	color:#999;

	line-height:40px;
	font-size: 26pt;
	letter-spacing:1px;
	text-transform: uppercase;
	padding: 0px 0px;
	margin: 0px auto;
}

h2 {
	position: relative;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-size: 6pt;
	font-weight: 200;
	color:#f7f7f7;
	text-transform:uppercase;
	font-size:6pt;
	letter-spacing:2px;
	margin: 0px auto 0px;

}

hr {
  text-align: center;
  width: 40px;
  border: 0px solid #000;
  border-top: 1px solid rgba(247, 247, 247, 0.8);
  padding: 10px 0px 0px;
  margin: 5px auto 0px;
}

blockquote {
	position: relative;
	float: left;
	right: 0px;
	width: 50%;
	font-family: 'Raleway', sans-serif;
	font-size: 9pt;
	line-height:15px;
	text-align: center;
	letter-spacing: 1px;
	font-weight: 100;
	color: #000;
	background-color: #222;
	border-right: 1px solid #111;
	padding:72px 0px;
	margin: 0px auto;
}

textarea {
	position: relative;
	float: right;
	width: 20%;
height: 80px;
	font-family: 'Montserrat', sans-serif;
	font-size: 6pt;
	font-weight: 200;
	font-size: 7pt;
	font-weight: 100;
	line-height: 10px;
	letter-spacing: 2px;
	word-spacing: 4px;
	text-align: center;
	color: #ededed;
	background-image: url("https://via.placeholder.com/350x160/131313/1d1d1d");
	background-size: cover;
	border: 1px solid #1d1d1d;
	padding: 50px 60px 0px;
	margin: 30px 110px 0px 0px;
}

a,a:link,a:visited,a:active {
	background-color:transparent;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#999;
	text-decoration:none;
	-moz-transition:all .5s ease;
	-webkit-transition:all .5s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
	padding:3px 2px;
}

a:hover {
	background-color:#e0393d;
	cursor:help;color:#fff;
}

::selection,::-o-selection,::-moz-selection,::-webkit-selection { color:#CECECE;background-color:transparent; }
