@charset "utf-8";

	/* Layout design and coding by Digidoll ♥ */


	body { 
		font-family: century gothic; 
		font-size: 11px; 
		background-color: #transparent; 
		color: #bababa; 
	}
	
	p { 
		text-indent: 35px; 
		font-size: 10px; 
		line-height:12px; 
		text-align: justify; 
		margin: auto 1px;
		padding: 0px 2px 0px 2px; 
	}

	a:link,a:visited,a:active { 
		font-size: 9px; 
		color: #909090; 
		text-decoration: none; 
	}
	
	a:hover { 
		color: #474747; 
		font-size: 9px; 
		text-decoration: none; 
	}
	
	img { 
		border: 1px solid #b3b3b3;
		margin: 40px;
	}
	
	img:hover { 
		opacity:.5; 
		transition:all 0.5s ease-in-out;
		-moz-transition:all 0.5s ease-in-out; 
		-webkit-transition:all 0.5s ease-in-out;
		cursor: crosshair;
	}
	
	#wrapper p {
		position:relative;
		bottom:30px;
		left:0px;
		visibility:hidden;
	}
	
	blockquote { 
		text-align: center; 
		font-size: 9px; 
		width: 370px; 
		color: black; 
		background-color: #ededed; 
		border-left: 12px double black; 
		border-right: 12px double black; 
		padding: 2px 2px 2px 2px; 
		margin: 15px auto;
	}

	h1 { 
		font-family:"Georgia"; 
		color: #ededed; 
		font-size:22px; 
		font-weight:normal; 
		line-height: 15pt; 
		text-transform: lowercase;
		margin-bottom: 4px;  
		letter-spacing:-1; 
	}
	
	h1:before {
		content: "\00BB";
	}
		
	h2 { 
		color: #000000; 
		font: normal 5pt small fonts; 
		text-transform:uppercase; 
		line-height:10px; 
		margin-top:2px; 
		padding-left: 5px; 
		background: #ededed; 
		line-height:10px; 
	}
	
	h3 { 
		text-align:right; 
		color: #ededed; 
		font: normal 5pt small fonts; 
		text-transform: uppercase; 
		line-height: 8px; 
		line-height:10px; 
		margin-bottom: 5px; 
		margin-right: 5px; 
		letter-spacing: 1.2px; 
	}

	h4 { 
		font: normal 7pt small fonts; 
		text-align:center; 
		text-transform:uppercase; 
		font-weight: bold; 
		word-spacing: 4px; 
		letter-spacing: 2px;  
		margin-left: 5px; 
	}

	h5 { 
		font: normal 4pt small fonts; 
		text-align: center; 
		text-transform: uppercase; 
		font-weight: bold; 
		letter-spacing: 2px; 
	}

	PIXEL { 
		font: normal 10pt small fonts; 
		font-weight: bold; 
	}

	hr { border-bottom: 1px solid #ededed; }
	b { color: #ededed; font-size: 11px; } 
	i { color: #ededed; }
	u { color: #ededed; font-size: 11px; border-bottom: 1px dotted #4d4555; text-decoration: none; }
	s { color: #fff; font-size: 11px; }
	h { color: #fff; background-color: #161616; font-size: 11px; margin: 0px 2px 0px 2px; padding: 1px 3px 1px 3px; }
	TT { color: #8c8c8c; font-size: 11px; }

	size1 { font: normal 7pt small fonts; } size2 { font-size: 13px; } size3 { font-size: 16px; } size4 { font-size: 19px; }
		size5 { font-size: 22px; } size6 { font-size: 25px; } size7 { font-size: 28px; } size8 { font-size: 35px; }
	black { color: #000000; } white { color: #ffffff; } red { color: #d40000; } pink { color: #ed6199; } yellow { color: #f8c333; }
		orange { color: #d46400; } sky { color: #00b4d4; } blue { color: #18567a; } lime { color: #9ad434; } violet { color: #7b22a9; } 
		


	::-webkit-scrollbar-thumb:vertical {background-color: #1b1b1b; height: 50px; border-radius: 60px;}
	::-webkit-scrollbar {height: 6px; width: 6px; background-color: transparent;}
	
	

	
	

	
	
