@charset "utf-8";

	/* Layout design and coding by Digidoll ♥ */


	@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
	@import url(http://fonts.googleapis.com/css?family=BenchNine);
	@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300|Roboto);
	@import url('https://fonts.googleapis.com/css?family=Raleway');
	@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
	@import url('https://fonts.googleapis.com/css?family=Rajdhani');
	@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
	@import url('https://fonts.googleapis.com/css?family=Marvel');
	@import url('https://fonts.googleapis.com/css?family=Wire+One');
	@import url('https://fonts.googleapis.com/css?family=Sansita');
	@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
	@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
	@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway');


	body {
		background-color: transparent;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 10px;
		color: #f9f9f9;
	}


	.all {
		position: absolute;
		background-color: #0e0e0e;
		width: 100%;
		height: auto;
		left: 0;
		top: 50%;
		min-width: 1400px;
		max-width: 1600px;
		z-index: 999;
	}

	header {
		height: 50%;
		width: 100%;
		top: 0%;
		left: 0%;
		position: fixed;
		background: -webkit-linear-gradient(left, #8a7c7c , #849cb1);
		background: linear-gradient(to right, #8a7c7c , #849cb1);
	}


	.hd {
		height: 50%;
		width: 100%;
		top: 0%;
		left: 0%;
		position: fixed;
		background-image: url("/preview/site/gemini/assets/img/gal.png");
		z-index: 75;
	}

	.moon {
		height: 50%;
		width: 100%;
		top: 0%;
		left: -3%;
		position: fixed;
		background-image: url("/preview/site/gemini/assets/img/gas.png");
		background-size: 100% 180%;
		background-repeat: no-repeat;
		background-position: left;
		opacity: 0.6;
		z-index: 99;
	}

	.top {
		width: 100%;
		height: 50%;
		margin: 0 auto;
		position: fixed;
		background-color:#transparent;
		opacity: 0.8;
		margin: 0px auto;
	}

		#disc {
			position: relative;
			text-align: center;
			background-color: transparent;
			padding: 20px 10px 0px 0px;
			margin: 0px auto;
		}

	.main {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-y: hidden;
		background-color: #E3E8E3!important;
		background-image: url('/portfolio/assets/img/gplay.png');
		background-attachment: scroll;
		background-position: top-left;
	}

	.main a:link,a:visited,a:active {
		font-size: 12px;
		color: #ff2592;
		font-weight: bold;
		text-decoration: none;
		text-shadow:  0px 0px 1px #fff;
	}

	.main a:hover { color: #fff;  text-shadow:  0px 0px 0px #000; }

	.scroller {
		position: relative;
		right: 10px;
		width: 100%;
		height: 100%;
		z-index: 999;
		margin: 30px 0px 0px;
	}

		#home {
			position: relative;
			left: 17%;
			width: 65%;
			height: 100%;
			margin-top: 40px;
			float: center;
		}

		.bars {
			position: relative;
			width: 100%;
			bottom: 0%;
			left: 0px;
		}


			.bar1 {
				height: 10px;
				background-color: #c18167;
				opacity: 0.6;
				z-index: 50;
			}

			.bar2 {
				line-height: 9px;
				font-family: Century Gothic;
				color: #fff;
				font-size: 11px;
				Font-weight: bold;
				height: 180px;
				background-color: #bcbcbc;
				z-index: 50;
			}

			.ref {
				position: relative;
				width: 177px;
				left: 0%;
				list-style-type: none;
				padding: 0px  20px  0px  20px;
				margin-top: 10px;
			}

				.ref  a {
					list-style-type: none!important;
					text-align: center;
					color: #fff!important;
					display: block;
					font-family: 'Didact Gothic', sans-serif;
					font-size:5pt!important;
					text-transform:uppercase;
					text-decoration:none;
					padding: 8px 15px 1px 15px;
					word-spacing: 2px;
					width:145px;
					height:17px;
					margin-bottom: 3px;
					letter-spacing: 1px;
					-moz-transition:all 0.8s ease-out;
					-webkit-transition:all 0.8s ease-out;
					border: solid 1px;
				}

				.ref a:hover {
					height: 17px;
					list-style-type:none!important;
					color: #e3e8e3!important;
					background-color: rgba(17,17,17,0.3);
					letter-spacing: 3px;
					font-weight: bold;
					border: 1px solid rgba(17,17,17,0.3);
					-moz-transition:all 0.3s ease-in;
					-webkit-transition:all 0.3s  ease-in;
				}


				footer {
					margin-bottom: 0px!important;
					line-height: 9px;
					font-family: Century Gothic;
					color: #e3e8e3;
					text-shadow: 2px 2px 4px #0e0e0e;
					font-size: 7px;
					letter-spacing: 2px;
					Font-weight: bold;
					text-align: center;
					padding: 10px 0px 10px 0px;
					background-color: #8a7c7c;
					z-index: 50;
					text-transform:uppercase;
				}

		H1.sub {
		text-align: left;
		Font-weight: normal;
		text-indent: 20px;
		line-height: 10px;
		margin-top: 0px;
		font-family: 'Raleway', sans-serif;
		font-size:19pt;
		color: #ffe593;
		text-shadow: 2px 2px 5px #0e0e0e;
		box-shadow: 0px 4px 7px #8a7c7c;
		background-color: #353535;
		/* border-bottom: 2px solid #8a7c7c; */
		letter-spacing: 0px;
		word-spacing: 10px;
		padding: 10px  5px  15px  0px;
		text-transform:;
		border-radius: 2px 0px 0px 0px;
	}

		.tr{
			position: relative;
			overflow:hidden;
			top: 13px;
			left: 48.5%;
			width:25px;
			height:25px;
			-webkit-transform:rotate(45deg);
			-ms-transform:rotate(45deg);
			transform:rotate(45deg);
			background-color: #8a7c7c;
			border-bottom: 1px solid #0e0e0e;
			border-right: 1px solid #0e0e0e;
			z-index: 90;
			box-shadow: 3px 3px 5px #888888;
		}

		.tr-fixed {
			position: fixed;
			width: 100%;
			top: 0!important;
			z-index:9000;
			background-color: transparent;
		}

	.menu {
		position: relative;
		width:100%;
		height: 25px;
		background-color: #8a7c7c;
		top: 0%;
		left: 0%;
		z-index: 2;
		border-top: 1px solid #0e0e0e;
		border-bottom: 1px solid #0e0e0e;
		box-shadow: 0px 5px 7px #888888;
	}

		.menu-fixed {
			position: fixed;
			width: 100%;
			top: 0!important;
			z-index:9000;

		}


		.TrivM1{
			position:relative;
			top:3%;
			left:20%;
			width:200px;
			height:360px;
			overflow:hidden;
			z-index:500;


		}

		.TrivM2{
			position:absolute;
			top:12px;
			right:20%;
			width:200px;
			height:360px;
			overflow:hidden;
			z-index:500;
			}

		.TrivM1 ul,.TrivM2 ul,.BTUTO1 ul{list-style:none}
		.TrivM1 ul li,.TrivM2 ul li,.BTUTO1 ul li{display:block}

		.TrivM1 ul li a{
			padding:20px 15px 10px 0;
			border-radius:25px 0 0 25px;
			text-align:right;
		}

		.TrivM2 ul li a{
			padding:20px 0 10px 15px;
			border-radius:0 25px 25px 0;
			text-align:left;
		}

		.TrivM1 ul li a,.TrivM2 ul li a{
			display: inline-block;
			width: 120px;
			height: 20px;

			font: normal 6pt small fonts;
			font-weight: bold;
			font-family: Tahoma;
				text-transform:uppercase;
				text-decoration :none;
				word-spacing: 2px;
			line-height:10px;
			letter-spacing: 1px;
			color: #fff;
			background-color:#ff74ba;
			background-color:#transparent;
			border:2px dotted #ffcd31;
			text-shadow:0 0 1px #000;
			list-style: none;
			margin-bottom:10px;
			padding: 10px 10px 0px 10px;
			-moz-transition:all 0.8s ease-out;
			-webkit-transition:all 0.8s ease-out;
		}

		.TrivM1 ul li a:hover{
			width: 130px;
			background-color:#eabb27;
			letter-spacing:1.5px;
			border:2px solid #fbc620;
			margin-left: -30px;

		/*	-moz-animation:NyKmm1 ease-in-out 1s infinite alternate;
			-webkit-animation:NyKmm1 ease-in-out 1s infinite alternate; */
		}


		.TrivM2 ul li a:hover{
			width: 130px;
			background-color:#eabb27;
			letter-spacing:1.5px;
			border:2px solid #fbc620;
			margin-left: 20px;

		/*	-moz-animation:NyKmm1 ease-in-out 1s infinite alternate;
			-webkit-animation:NyKmm1 ease-in-out 1s infinite alternate; */
		}


@-moz-keyframes NyKmm1{0%{transform:scale(1)}25%{transform:scale(1.06)}50%{transform:scale(1.02)}75%{transform:scale(1.03)}100%{transform:scale(1.02)}}@-webkit-keyframes NyKmm1{0%{transform:scale(1)}25%{transform:scale(1.3)}50%{transform:scale(1.1)}75%{transform:scale(1.3)}100%{transform:scale(1.1)}}@-moz-keyframes NyKNN5{0%{background-color:#40dbe1}34%{background-color:#c785f6}67%{background-color:#f977b8}}@-webkit-keyframes NyKNN5{0%{background-color:#40dbe1}34%{background-color:#c785f6}67%{background-color:#f977b8}}::selection{color:#fff;background:#transparent}

	.nav {
		position: relative;
		width: 200px;
		overflow:hidden;
		top: 25%;
		left: 16%;
		list-style: none;
		z-index: 999;

	}

	.nav a {
		float: left;
		list-style: none;
		display: inline-block;
		width: 175px;
		height: 20px;
		color: #fff;
		font: normal 6pt small fonts;
		font-weight: bold;
		font-family: Tahoma;
			text-transform:uppercase;
			text-decoration :none;
			word-spacing: 2px;
		text-align: right;
		text-shadow: 0px 0px 1px #000;
		background-color: transparent;
		margin-bottom: 10px;
		margin-right: 10px;
		padding: 10px 20px 0px 0px;
		text-decoration: none;
		word-spacing: 2px;
		letter-spacing: .5px;
		line-height:10px;
		-moz-transition:all 0.8s ease-out;
		-webkit-transition:all 0.8s ease-out;

	}

	.nav a:hover {
		margin-right: 50px;
		text-align: right;
		background: transparent;
		border-right: none;
		letter-spacing: 4px;
		width: 150px;
		padding-right: 10px;
	}

	.nav a:hover::after {
		font-size: 11px;
		text-align: right;
		padding-left: 20px;
		padding-right: -10px;
		content: "\00ab";
		color: #e3e8e3;
	}




	.navr {
		position: absolute;
		width: 200px;
		overflow:hidden;
		top: 25%;
		right: 16%;
		list-style: none;
		z-index: 999;

	}

	.navr a {
		float: left;
		list-style: none;
		display: inline-block;
		width: 175px;
		height: 20px;
		color: #fff;
		font: normal 6pt small fonts;
		font-weight: bold;
		font-family: Tahoma;
			text-transform:uppercase;
			text-decoration :none;
			word-spacing: 2px;
		text-align: left;
		text-shadow: 0px 0px 1px #000;
		background-color: transparent;
		margin-bottom: 10px;
		margin-right: 10px;
		padding: 10px 20px 0px 0px;
		text-decoration: none;
		word-spacing: 2px;
		letter-spacing: .5px;
		line-height:10px;
		-moz-transition:all 0.8s ease-out;
		-webkit-transition:all 0.8s ease-out;

	}

	.navr a:hover {
		margin-left: 10px;
		text-align: left;
		background: transparent;
		border-right: none;
		letter-spacing: 4px;
		width: 150px;
		padding-right: 30px;
	}

	.navr a:hover::before {
		font-size: 11px;
		text-align: right;
		padding-left: 20px;
		padding-right: 20px;
		content: "\00bb";
		color: #e3e8e3;
	}





				.Step0 {
					text-align:center;
					Background:#d59cff;
					padding: 10px 10px  10px  10px ;
					font-family: Didact Gothic;
					font-size:45px; color: #ffe593;
					border-radius: 50%;
					box-shadow: inset 0px 0px 0px 2px #65edf2, 0px 0px 5px #287d80;
					border: dashed #65edf2 2px;
					text-shadow:  0px 0px 1px #000;
				}

		blockquote {
			text-align: center;
			font-size: 9px;
			width: 450px;
			color: black;
			background-color: #ededed;
			border-left: 12px double black;
			border-right: 12px double black;
			padding: 2px 2px 2px 2px;
			margin: 15px auto;
		}

				.bubble0,.bubble1,.bubble2 {
					color: #fff;
					border-radius: 10px;
					display: inline-block;
					padding: 10px 18px;
					margin-bottom: 5px;
					position: relative;
					vertical-align: top;
					width:800;
					font-family: Century Gothic!important;
					font-size: 15px!important;
					Font-weight: bold;
					text-shadow:  0px 0px 1px #9a9a9a;
					box-shadow: inset 0px 0px 1px #06696c, 0px 0px 3px #29797c;
				}

		.ID {
			background-color:#B8C9AB;
			width:230px;
			height:250px;
			border-radius: 0% 0% 0% 50%;
		}

			.ID1 {
				background-color:#B8C9AB;
				width:100%;
				height:250px;
				color: #6c78ad!important;
				font-size: 10pt;
				font-family: century gothic;
				padding: 0px  10px  0px  10px;
				margin-left:20px;
				border-radius: 0px 0px 20px 0px;
			}


		.btm {
			position: absolute;
			float: right;
			width: 100%;
			overflow: hidden;
		}

		.Ide0 {
			width:400px;
			height:70px;
			font-family: Century Gothic;
			color: #fff; font-size: 10pt;
			border-radius: 25px;
			padding: 0px  0px  0px  10px;
			border: 2px solid #ffbedf;
			Background:#ff96cb;
		}

		.Ides {
			color: #0e0e0e!important;
			background-color: #d9d9d9;
			background-image:url();
			background-repeat:repeat ;
			box-shadow: inset 0px 0px 0px #6911a9, 0px 0px 5px #287d80;
			padding: 10px  30px  15px;
			margin: 5px 0px 50px;
		}

			.Ides1 {
				padding: 15px  30px  0px  30px!important;
				width: 43%;
				margin-top: -13px;
				color: #0e0e0e!important;
				background-color: #d9d9d9;
				background-image:url(/slide.png);
				background-repeat:repeat ;
				box-shadow: inset 0px 0px 0px #6911a9, 0px 0px 5px #287d80;
			}

			.Ides2 {
				position: absolute;
				padding: 15px  30px  0px  30px!important;
				width: 43.6%;
				top: 15.72%;
				left: 50%;
				color: #0e0e0e!important;
				background-color: #d9d9d9;
				background-image:url(/slide.png);
				background-repeat:repeat ;
				box-shadow: inset 0px 0px 0px #6911a9, 0px 0px 5px #287d80;
			}

		.ref {
			padding: 0px  20px  0px  20px ;
		}



	::selection {color: #fff; background: #transparent;}

	::-webkit-scrollbar-thumb:vertical { background-color: #8a7c7c; height: 50px; border-radius: 60px z-index;}
	::-webkit-scrollbar { height: 6px; width: 6px; background-color: #353535;}


	@media only screen and (max-width: 1000px) and (min-width: 300px) {

		header {
			display: none;
		}

		.all {
			width: 100%;
			top: 0px;
		}

		iframe {
			height: 20%;
		}

		.scroller {
			display: none;
		}

}

@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
